@model UserManagement.Web.Models.AuditLogs.UserLogListViewModel

@{
    ViewData["Title"] = "Audit Logs";
}

<p>
    <dd class="col-sm-10">
        <partial name="LogsView" model="Model" /> 
    </dd>
</p>
